<% content_for :title, "Conversation" %>
<%= heroicon_tag "chat-bubble-oval-left-ellipsis", class: "w-10 h-10" %>
<%= h1 "Conversation" %>

<% @messages.each do |message| %>
  <div class="flex flex-col gap-y-2 w-full">    
    <div class="flex gap-x-3 w-full">
      <%= avatar(message.sender) %>
      <div class="flex flex-col gap-y-1 w-full min-w-0">
        <div class="flex flex-col gap-y-0 w-full min-w-0">
          <div class="flex items-center justify-between">
            <span class="text-fuchsia-500"><%= message.sender %></span>
            <div class="flex items-center gap-x-1">
              <%= handshake_icon message %>
              <span class="text-gray-400 text-sm">
                <%= message.created_at.strftime("%b %d, %Y, %I:%M %p") %>
              </span>
            </div>
          </div>
          <div class="truncate font-medium"><%= message.title %></div>
        </div>
        <%= formatted_paragraph message.body %>
        <div class="flex items-center gap-x-1.5 w-full">
          <%= link_to reply_conversation_message_path(@conversation, message), class: "self-start inline-flex gap-x-1 text-sky-500 items-center underline whitespace-nowrap hover:text-sky-600" do %>
            <%= heroicon_tag "arrow-uturn-left", class: "w-[20px] h-[20px]" %> 
            Reply to
          <% end %>
          <div class="text-gray-500 rounded-full"><%= addresses_group reply_to(message) %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pl-[52px]"><%= separator %></div>
<% end %>

<%= back_to_button conversations_path %>
<%= new_conversation_button %>